<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GoodVibesPresents</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="" >
					<img src="~/images/GVPFINISHEDLOGO4.jpg" alt="" class="navbar-logo" />
				</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav social-links social-links-nav">
                    <li><!--asp-area="" asp-controller="Home" asp-action="Buy_Tickets"--> 
						<a href="https://bit.ly/LiquidStrangerATX">Buy Tickets</a></li>
                    <!--<li><a asp-area="" asp-controller="Home" asp-action="News">News</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Gallery">Gallery</a></li>
					<li><a asp-area="" asp-controller="Home" asp-action="Videos">Videos</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Company">Company</a></li>-->
					<li><a asp-area="" asp-controller="Home" asp-action="RewardsProgram">Rewards Program</a></li>
					<div class="social-media-dropdown">
                  <li class="social-icon twitter">
					    <a href="https://www.facebook.com/GoodVibesPresents"> <img src="~/images/Facebook-icon-white.png" alt="ASP.NET" class="ico entypo-twitter"/></a>
                  </li>
                  <li class="social-icon facebook">
                        <a href="https://twitter.com/GoodVibesPrsnts" ><img src="~/images/Twitter-icon-white.png" alt="ASP.NET" class="ico entypo-facebook" /></a>
                  </li>
                  <li class="social-icon dribbble">
						<a href="https://www.instagram.com/good_vibes_presents/"><img src="~/images/instagram-icon-white.png" alt="ASP.NET" class="ico entypo-dribbble" /></a>
                  </li>
					</div>
                </ul>
            </div>
        </div>
    </nav>

    @RenderBody()
    <footer>
        <div class="container-fluid body-content row">
        <hr class = "footer-line">
	        <div class="container">
				<div class ="col-sm-6 col-md-6 copyright">
					<p>&copy; 2017 - Good Vibes Presents LLC. All rights reserved.</p>
				</div>
	            <div class = "col-sm-6 col-md-6 footer-links">
					<p>
						<a href="">Site Map </a>
						·
				        <a href="~/Home/Privacy_Policy">Privacy Policy </a>
						·
				        <a href="~/Home/Terms_Of_Use">Terms Of Use</a>
				    </p>
			    </div>
			</div>
		</div>
    </footer>
    

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
