@{
    ViewData["Title"] = "Privacy Policy";
}

<div class = "container">
	<br /> <br />
	<h2>Good Vibes Presents Privacy Policy</h2>

	<p>This policy was last modified on Saturday, January 2, 2016.</p> <br /><br />



	<p>Good Vibes Presents respects the privacy of all website visitors. The information collected is used solely to help create better shows and develop more effective marketing strategies. The following policy details the procedures of how http://www.GoodVibesPresents.com and the services on the website use collected personal information. By visiting this website, you agree to abide by the procedures outlined below and accept responsibility for reviewing the latest revisions to stay up to date on how your personal information is kept safe and secure.</p>

	<p>Good Vibes Presents gathers information when you access the site. The information collected includes but is not limited to, Name, Email address, User information, Message data, and any traffic data used to enhance your viewer experience. We aim to use Customer Information for various reasons; including a newsletter that informs users about upcoming deals and events, a rewards program that gives back to users attending events, keeping a backlog of messages between us and our visitors, and personalizing viewer experience by targeted advertising based primarily on viewer preference and location.</p>

	<p>Good Vibes Presents may find it necessary to engage a third party to perform functions on our behalf. These functions include drafting and sending newsletters to our subscribers, sending proper email communication, analyzing and processing user traffic data, and site optimization. If any personal information is disclosed with these third parties, Good Vibes Prevents necessitates that the parties agree to use the information only on an as-needed basis, with total confidentiality, and in complete compliance with the Good Vibes Presents Privacy Policy.</p>

	<p>Good Vibes Presents does not disclose personal information unless any (or all) of the following pre-conditions are met:</p>

	<ol>
		<li>GVP has direct permission from the individual to divulge the information.</li>
		<li>GVP is mandated by law or fair-play/business standards.</li>
		<li>The information is disclosed as a subsequent action in regards to the sale, trade, or other   disposition of any part of Good Vibes Presents, LLC as a business (or separate assets) or in conjunction with a merger, corporate consolidation, or any other reorganization of corporate framework.</li>
		<li>The personal information is to be disclosed as publicly available to any/all persons.</li>
		<li>The party to whom the information is divulged to is controlled by, or is under common control with Good Vibes Presents, LLC.</li>
		<li>The disclosure is made under oath, as part of a deposition, trial, or any other legal matter.</li>
		<li>The information is shared with a third party, as previously detailed in the policy.</li>
		<li>Information may be shared when legally required to do so as part of an investigation and in regards to obstruction of justice.</li>
		<li>If you have consented for GVP to share information with any third party source and in accordance to use of privacy information by a third party source, such third parties will handle, store, retain, and access the information in accordance with their terms and conditions/privacy policy. It is highly recommended that you, as the user, review the third-party policy you consent to.</li>
		<li>If Good Vibes Presents wishes to use any personal information for purposes other than those expressly described in this privacy policy, we will offer our users the opportunity to opt out of such use for those other purposes</li>
	</ol>

		
	<p>With use of the GVP website, GVP may send cookies to your browser. Cookies are bits of information browsers store on computers and are used to recognize subsequent website visitors without obtaining personally identifying information. This data will be used to improve marketing efforts, create better products, and provide a better a site experience.</p>

	<p>Cookies are used automatically on the Good Vibes Presents site. To avoid the use of cookies, you are able to choose to have your browser alert you every time a cookie is being sent, or you are able to disable cookies entirely through the browser settings. If cookies are turned off, some features of the site may not function properly, so it is highly recommended to leave cookies on to optimize your user experience.</p>

	<p>If you would like to opt-out of targeted advertising, contact us at info@goodvibespresents.com, and we will have the request processed within 7 business days. By opting out, our website will not track your web preferences and usage patterns. This, however, does not disallow advertisements from showing on the site altogether.</p>

	<p>Additionally, this site uses Google Analytics.</p>

	<p>Google Analytics is a website analysis service provided by Google Inc. Google Analytics uses cookies to analyze the site traffic. The information gathered is stored on a secure server and Google uses it to process reports on site activities, pings, traffic, etc. As such, Google will not, in any manner, associate your IP address with any other user data Google maintains. You are, however, able to prevent the Google features by deactivating cookies in your browser settings.</p>

	<p>Good Vibes Presents, internally, permits access to Customer Information to personnel who have a direct necessity to come into contact with that information in order to adequately and appropriately perform their jobs. Good Vibes Presents has physical, electronic, and procedural barriers in place to protect the loss, theft, or otherwise misuse of any stored Customer Information.</p>

	<p>We at Good Vibes Presents want to expressly state that we do not directly market, intend to market, or intend for our services to be used by children that are 13 and under. It is because of this that Good Vibes Presents never directly collects information from children that are knowingly under the age of 13.  Please immediately exit this website if you are not above 13 years of age. If it comes to our knowledge that there is stored information in our system that originates from a child 13 and under, Good Vibes Presents personnel will swiftly delete such information in a safe, secure manner.</p>

	<p>We do not under any circumstance sell, trade, or otherwise transfer personal information to any third party source. This does not include website hosting partners and other parties that assist us in maintaining a functional website, conducting our business, or any other action previously specified in the privacy policy. However, non-personal information may be provided to other parties to track traffic, help marketing, or improve user experience overall. We also honor all do not track signals and we do not track, plant cookies, or use advertising when a DNT browser mechanism is in place. If your DNT browser is not functioning the way it is intended with our site, please email us at info@goodvibespresents.com and we will remedy the situation as seamlessly as possible.</p>

	<p>Occasionally, at our discretion, we may include or offer third party products, services, or advertisements on our website. These third party sites function independently and as such, have separate and independent privacy policies. We therefore highly recommend that you view the privacy policy of each site and assume no responsibility or liability for any or all content, enterprise, or the like, that is put forth by a third party website. Nonetheless, we seek to protect the integrity of our site and welcome any feedback about these sites.</p>

	<p>We will notify the users via email and in site notification within 7 business days should a data breach occur to stay in line with Fair Information Practices.</p>

	<p>We also agree to the individual redress principle, which requires that individuals have a right to pursue legally enforceable rights against data collectors and processors who fail to adhere to the law. This principle requires not only that individuals have enforceable rights against data users, but also that individuals have recourse to courts or a government agency to investigate and/or prosecute non-compliance by data processors.</p>

	<p>Good Vibes Presents hereby reserves the right to willfully alter, update, or modify this Privacy Policy at any point in time. When doing so, the date will be updated above to notify website users of the latest revisions. Please check the Privacy Policy regularly to stay updated on all changes.</p>

	<p>If any information gathered about you is inaccurate or if you would simply like to review your personal information, please email us at info@goodvibespresents.com.</p>
</div>