@{
    ViewData["Title"] = "Rewards Program";
}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Narrow Jumbotron Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="narrow-jumbotron.css" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <div class="jumbotron">
        <h1 class="display-3">Good Vibe Tribe Rewards Program</h1>
        <p class="lead">We want to show how much we appreciate our amazing fans by giving away free concert tickets, meet and greets, merchandise, signed posters, opportunities to donate to charity, and other awesome prizes!</p> 
		<p>Signing up will instantly grant you 5 vibes (that can be redeemed for rewards) and also places you on our newsletter list to ensure you're among the first to hear about important concert updates, industry news, and exclusive offers.</p>
		<p>Name and email are the only necessary information to start receiving free rewards. What are you waiting for?</p>
        <p><a class="btn btn-lg btn-success" href="~/Home/Rewards_Program_SignUp" role="button">Sign Up Now</a></p>
      </div>

      <div class="row rewards-program-tasks">
        <div class="col-lg-6">
          <h4>Vibes can be earned in the following ways:</h4>
			<table class = "table table-condensed">
				<thead>
				    <tr>
						<th>Task</th>
						<th>Vibes Earned</th>
					</tr>
				</thead>
				<tbody>
					<tr>
	                    <td>Spend one dollar on a GVP event</td>
	                    <td>1 vibe</td>
	                </tr>
					<tr>
	                    <td>Retweet or Facebook share any original GVP post</td>
	                    <td>1 vibe</td>
	                </tr>
					<tr>
	                    <td>Complete a GVP survey</td>
	                    <td>3 vibes</td>
	                </tr>	
				</tbody>
			</table>
	    </div>

        <div class="col-lg-6">
          <h4>Accumulated vibes can be redeemed in the following ways:</h4>
		    <table class = "table table-condensed">
                <thead>
                    <tr>
                        <th>Vibes Redeemed</th>
                        <th>Reward</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>40 vibes</td>
                        <td>Drawing entry for meet and greet on specified event date</td>
                    </tr>
                    <tr>
                        <td>100 vibes</td>
                        <td>$10 coupon redeemable on any GVP purchase</td>
                    </tr>
					<tr>
                        <td>100 vibes</td>
                        <td>One headliner autographed poster (when available)</td>
                    </tr>
					<tr>
                        <td>100 vibes</td>
                        <td>$10 donation to charity of your choice</td>
                    </tr>
                </tbody>
            </table>
        </div>
      </div>

    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>