@{
    ViewData["Title"] = "Terms Of Use";
}

<div class = "container">
	<br /> <br />
	<h2>General Terms Of Use Applicable Between Good Vibes Presents and Its Visitors</h2>

	<p>These Terms of Use were last modified on Sunday, January 3, 2016.</p> <br /> <br />

	<p>
	Article 1        General <br />

	Article 2        Ticket <br />

	Article 3        Entry <br />

	Article 4        Permitted and Forbidden Items <br />

	Article 5        Code of Conduct <br />

	Article 6        Recordings <br />

	Article 7        Parking <br />

	Article 8        Indemnification <br />

	Article 9        Limitation of Liability <br />
	 
	Article 10      ADA Accommodations <br />

	Article 11      Violation of Terms <br />

	Article 12      Disputes, Claims, and Questions <br />
	</p> <br /> <br />



	<h3>Article 1       General</h3>

	<p>Please review the following terms of use carefully. You, the concertgoer, agree to legally abide by the following terms of use when using this site, purchasing a ticket, or attending a Good Vibes Presents event. Please refrain from using this site and attending any Good Vibes Presents events if you are not in accord with the following terms of use. <br /> <br />

	We hereby reserve the right, at our sole discretion and without prior notice, alter, change, modify, or otherwise edit these Terms at any time. These changes will become applicable immediately upon the date of posting. We may, at any point in time, intentionally notify you via email about any major changes to the Terms however we are not bound to do so consistently. Please review the Terms of Use periodically. Your continued use of the site constitutes full, knowledgeable acceptance to everything in this Terms of Use Agreement. If you do not wish to agree with the Terms of Use, we advise you to stop using the site, any products, shows, or services that we provide immediately.<br /><br />
	</p>


	<h3>Article 2       Ticket</h3>

	<p>
	Good Vibes Presents maintains the right to refuse any ticket purchaser entrance into an event without reimbursement if he or she fails to comply with the following general terms and conditions.<br /> <br />

	Admission to each event is granted by showing valid proof of ticket purchase through a printed, hardcopy ticket or the Eventbrite app. Each ticket only gives access to one person on the date specified and entrance will be given to the holder of the first scanned ticket if multiple persons attempt to use the same ticket.<br /> <br />

	By purchasing tickets through Eventbrite, you agree to enter into a binding agreement based on the terms and conditions described in the Eventbrite website. All ticket sales are finals. No refunds or exchanges will be allowed unless consent is given by Good Vibes Presents on special occasions. If an event is cancelled, all tickets will be valid for the rescheduled event. Tickets will be refunded if the cancelled event is not rescheduled within 180 days.<br /> <br />

	The ticket purchaser assumes all responsibility for his or her ticket once received. Lost, stolen, or damaged tickets will not be honored. <br /> <br />

	Admission tickets may not be resold without explicit written permission from Good Vibes Presents as this commonly leads to fraud. Tickets may only be used in contests, giveaways, or other similar activities with explicit written permission from Good Vibes Presents. No fraudulent tickets purchased, received, or won from unauthorized third parties will be honored and Good Vibes Presents cannot be held liable for any fraudulent ticket purchases from these unofficial channels. Please visit individual event pages to find a list of authorized sales channels. Any visitor determined to have forged any number of tickets will be immediately ejected from the venue and prosecuted. <br /> <br />

	Good Vibes Presents maintains the right to postpone or cancel any event without prior notice if any situation out of the control of Good Vibes Presents occurs that brings customer safety into question or makes the successful production of a given event impossible. Such circumstances may include, but are not limited to, an act of God, act of terrorism, flood, tsunami, an injunction from an administrative body or court, or a labor dispute. If an event is cancelled due to at least one of these reasons, the ticket refund amount will be determined by Good Vibes Presents based on the extent of cancellation. <br /> <br />

	All tickets purchased through will call must be retrieved on the day of the event. Valid proof of identification (detailed in article 3) and the card used to purchase will be required to pick up the ticket(s). All will call tickets must be obtained simultaneously if multiple are purchased. Refunds will not be granted to ticket purchasers who are unable to pick up will call tickets due to lack of identification, absence of card used for purchase, or any other personal reason preventing the ticket purchaser from picking up the ticket(s) on time. <br /> <br />

	All ticket shipping fees are nonrefundable. Tickets mailed to undeliverable addresses will not be refunded under any circumstance. Additional shipping fees will apply if a reshipment is necessary due to a customer’s mistake. <br /><br />
	</p>


	<h4>Disclaimer Of Warranties:</h4>

	<p>
	OTHER THAN AS EXPRESSLY DICTATED IN THESE TERMS OF USE OR ANY ADDITIONAL TERMS USE HEREBY CREATED, NEITHER GOOD VIBES PRESENTS, LLC NOR ITS SPONSORS, INVESTORS, OR ANY THIRD-PARTY AFFILIATES MAKE ANY SPECIFIC PROMISES ABOUT THE SERVICES PROVIDED. FOR EXAMPLE, WE TAKE NO RESPONSIBILITY FOR ANY FORM OF RESTITUTION REQUESTED FOR ANY PURCHASE OF TICKETS FROM AN UNAUTHORIZED VENDOR. WE MAKE NO COMMITMENT ABOUT THE QUALITY OF UNAUTHORIZED THIRD-PARTY SERVICES, FUNCTIONS OF THEIR SERVICES, OR THEIR GENERAL RELIABILITY, AVAILABILITY, OR THE ABILITY TO MEET YOUR SPECIFIC NEEDS. WE PROVIDE THE SERVICES “AS IS”. <br /> <br />
	</p>


	<h3>Article 3       Entry</h3>

	<p>
	By entering any Good Vibes Presents Event, you the customer accept any risk, danger, or injury that occurs before, during, or afterwards including any personal loss, damage, or death. You accept these terms by purchasing a ticket for a Good Vibes Presents event and redeeming it for entry into any event. <br /> <br />

	Persons failing to meet the specified minimum age requirements by the day of the event will be denied entrance with no reimbursement. One of the following forms of identification is required to enter any Good Vibes Presents show:
	</p>

	<ul>
		<li>Unexpired Driver’s License (U.S. or Canada)</li>
		<li>Unexpired Government-Issued Identification Card (U.S. or Canada)</li>
		<li>Unexpired Government-Issued Passport</li>
		<li>Unexpired Military Identification Card</li>
	</ul>

	<p>Any customer failing to provide any one of these valid forms of identification will be denied entrance without any refund. <br /> <br />

	Re-entering any Good Vibes Presents show is explicitly prohibited unless granted special permission by a staff member and you are escorted by security. <br /> <br />

	Entrance for any visitor to any Good Vibes Presents event is entirely up to the discretion of senior staff. Access to any event will be prohibited to all visitors who:
	</p>

	<ul>
		<li>Disturb the peace or provoke another individual to do so</li>
		<li>Wear clothing with indecent or obscene words or graphics</li>
		<li>Are in an impaired state from alcohol intoxication</li>
		<li>Are under the influence of any illegal drug or substance</li>
		<li>Have been banned from attending any Good Vibes Presents event</li>
		<li>Refuse to comply with the directions of security and staff</li>
		<li>Refuse to forfeit any items explicitly prohibited in article 4</li>
		<li>Distribute physical marketing materials on site without explicit permission from Good Vibes Presents</li>
		<li>Violate any other conditions laid out in the terms of use</li>
	</ul>
	<br />

	<h3>Article 4       Permitted And Forbidden Items</h3>

	<p>
	Ticket holders will be subject to being searched upon entrance into any Good Vibes presents event. Security reserves the right to pat down all entering guests and inspect all items carried on person enter any Good Vibes Presents event to ensure proper compliance. Security and staff maintain the right to detect and confiscate any prohibited item(s). Good Vibes Presents cannot guarantee the return of any confiscated item. All entering guests who refuse to allow any prohibited item(s) to be confiscated must return said item(s) to their cars and get back into the front of the line before they can gain admittance.  <br /> <br />

	The following items are <strong>ALLOWED</strong> to be brought into or possessed at any Good Vibes Presents event under sole discretion of venue staff and security:  <br />

	<ul>
		<li>Blankets</li>
		<li>Cell phones</li>
		<li>Fanny packs</li>
		<li>Hats</li>
		<li>Lighters</li>
		<li>Non-professional disposable cameras</li>
		<li>Sealed cigarettes</li>
		<li>Sealed cosmetic products</li>
		<li>Sealed gum or mints</li>
		<li>Sealed lip balm</li>
		<li>Sealed sunscreen</li>
		<li>Service animals with proper permit</li>
		<li>Small to medium sized backpacks</li>
		<li>Sunglasses</li>
		<li>Water bottle (Max of one, may be empty or full if factory sealed)</li>
	</ul>

	The following items are <strong>PROHIBITED</strong> to be brought into or possessed at any Good Vibes Presents event at all times: <br />

	<ul>
		<li>No items that can negatively affect the safety of others</li>
		<li>No animals</li>
		<li>No backpacks with more than two pockets</li>
		<li>No beverages (one factory sealed water bottle permissible)</li>
		<li>No cans</li>
		<li>No coolers</li>
		<li>No dangerous Items</li>
		<li>No drones or other objects capable of flight</li>
		<li>No illegal drugs, substances, or drug paraphernalia</li>
		<li>No large chains</li>
		<li>No large umbrellas</li>
		<li>No laser pointers</li>
		<li>No fireworks</li>
		<li>No flyers, stickers, or posters</li>
		<li>No food</li>
		<li>No glassware</li>
		<li>No open containers</li>
		<li>No pacifiers</li>
		<li>No paint</li>
		<li>No plastic bottles</li>
		<li>No prescription drugs without valid prescription with name matching the name on identification. (Only dosage size needed for the duration of event will be permitted)</li>
		<li>No professional recording equipment used for photography, film, or sound</li>
		<li>No projectiles</li>
		<li>No sleeping bags</li>
		<li>No stuffed animals or dolls</li>
		<li>No transportation devices</li>
		<li>No totems or flags with metal or wood pieces</li>
		<li>No unsealed over the counter medications</li>
		<li>No unsealed tampons</li>
		<li>No weapons</li>
	</ul>

	<p>
	Any visitor discovered to have entered any Good Vibes Presents event with a concealed prohibited item accepts that he or she will be immediately rejected from the event without a refund and may be turned over to the police, refused entry into future events, or banned permanently depending on the severity of the situation.
	</p>


	<h3>Article 5       Conduct</h3>

	<p>
	In viewing this website, you agree that you will fully comply with the website code of conduct, and all applicable laws, rules, and regulations that accompany the terms of conditions. You also agree, with full discretion, that you will not:

	<ul>
		<li>Prevent, discourage, or otherwise inhibit any person/persons from using the Website.</li>
		<li>Use the Site for any purpose deemed unlawful by local, state, or federal law.</li>
		<li>Imply (directly or indirectly) that any statements you make made by, supporter, or otherwise endorsed by Good Vibes Presents, LLC without prior consent.</li>
		<li>Impersonate any Good Vibes Presents employee, personnel, or any representative of the company.</li>
		<li>Submit any content or information that is deemed unlawful, of a fraudulent nature, libelous (or otherwise defamatory), a breach of any third-party intellectual property rights.</li>
		<li>Submit any nonpublic or inside information about the affairs, plans, or other actions of Good Vibes Presents, LLC.</li>
		<li>Submit any advertisements, surveys, multi-level marketing, pyramid schemes, contests, investment opportunities, or any other unapproved commercial communication.</li>
		<li>Submit or post any information that is threatening, illegal, offensive, or otherwise misleading on the site.</li>
		<li>Submit Spam or Junk Mail.</li>
		<li>Submit any information, links, or images that could be construed as lewd, obscene, pornographic, sexually explicit, indecent, violent, abusive, profane, insulting, harassing, hateful, or otherwise objectionable (at the company’s discretion). This includes the posting of any drug/alcohol related content on the Good Vibes Presents site.</li>
		<li>Submit any software, images, or any other materials that contain any viruses, worms, Trojans, defects, date-bombs, time-bombs, or any other items of a ruinous nature that could be detrimental to the proper function of the Good Vibes Presents site.</li>
		<li>Modify, adapt, sub-license, sell, reverse engineer, decompile, or disassemble any or all of the Good Vibes Presents site or otherwise attempt to derive the source code of the site without the express written consent of Good Vibes Presents, LLC.</li>
		<li>Remove any copyright, trademark, or any other legally recognizable right to ownership as made by Good Vibes Presents, LLC.</li>
		<li>Use any robot, spider, offline reader, site search/retrieval application, or any other tool/process (manual or automatic) in order to retrieve, index, data mine, or in any way reproduce or circumvent any applicable navigational or security-related structure in place on the site.</li>
	</ul>

	<p>We retain sole the right to monitor, refuse, and remove any content without prior notice. You agree that you assume all risk associated with the use of the site and take on full responsibility, legal or otherwise, for any posts made from your account, personal computing device, and IP address. You also agree that we have the unrestricted right to copy, publish, or otherwise reproduce any content you submit to the site in any fashion.<br /><br />

	In attending an event, you are a representative of a Good Vibes Presents customer. In assuming that role, it is directly forbidden to:</p>

	<ul>
		<li>Access, try to access, or be in sections of the event that are restricted to artists/talent, security, event personnel and Good Vibes Presents personnel.</li>
		<li>Access, try to access, or be in sections of the event that are restricted to certain ticket holders unless in accordance with Your Ticket (section 1).</li>
		<li>Climb any fences, closures, lighting columns, tables, benches, or any other infrastructure of the event site.</li>
		<li>Obstruct any entrances, exits, or emergency evacuation routes that are necessary for entering or exiting the site.</li>
		<li>Wear a disguise or otherwise attempt to fraudulently impersonate someone.</li>
		<li>Display or produce texts, symbols, images, gestures, wear clothing or articles of clothing which, in the sole discretion of event staff, contain language/images that are seen as obscene, racist, xenophobic, or otherwise discriminatory.</li>
		<li>Be under the influence of drugs or illegal substances.</li>
		<li>Be suffering from alcohol intoxication to the point in which, to the event staff’s full discretion, you are seen as a danger to yourself and/or others.</li>
		<li>Disturb the peace or compromise the safety of the general public.</li>
		<li>Urinate in public.</li>
		<li>Re-enter the event site after being expressly removed from the event site (even if you possess a new ticket.)</li>
		<li>Deface, mark, destroy, or otherwise act in a way that can be seen as detrimental to the event site.</li>
		<li>Resist the direction of, and search by, security personnel.</li>
		<li>Refuse to declare, consolidate, or otherwise forfeit objects that are seen as dangerous or off-limits by security personnel. (These items may not be returned.)</li>
	</ul>
	<br />

	<h3>Article 6       Recordings</h3>

	<p>
	Professionally filming any Good Vibes Present’s event without prior written consent is not allowed. Nonprofessional, nonprofit filming will be allowed at all events.<br /><br />

	The ticket purchaser unconditionally expresses his/her consent to be filmed at any Good Vibes Present’s event without monetary compensation by attending. By attending the event, the visitor hereby denotes his/her express consent to the notion that he/she may be filmed, photographed, streamed, or otherwise rebroadcasted by event photographers at any given time. Any person or person's name, image, or likeness may be captured as part of any visual recording and is able to be sold for commercial purposes on behalf of Good Vibes Presents, LLC or any sponsors or subsidiaries. This may happen unknowingly or without prior consent and without any form of compensation to the individual whose likeness is being portrayed. <br /><br />
	</p>


	<h3>Article 7       Parking</h3>

	<p>
	Good Vibes Presents, LLC disclaims all responsibility from losses or damages to vehicles parked on or near the event venue. <br /><br />

	Good Vibes Presents, LLC is not responsible for losses or damage to any vehicle towed from the event site. <br /><br />
	</p>


	<h3>Article 8       Indemnification</h3>

	<p>
	If there are any legal claims of wrongdoing held against an individual related to his/her use of the Good Vibes Presents website, in agreeing to these terms and conditions, this individual agrees to fully indemnify Good Vibes Presents, LLC. In addition to this, the aforementioned individual will proceed to hold Good Vibes Presents, LLC, any upper and lower level employees, third-party affiliates, sponsors/advertisers, and event providers entirely harmless against any damages (monetary or otherwise), losses, and expenses (including reasonable legal fees and court costs.) We, as Good Vibes Presents, hereby reserve the right to take exclusive control and defense of any claim and you will provide us with full cooperation in expediting the legal process and any available defenses. <br /><br />
	</p>


	<h3>Article 9       Limitation Of Liability</h3>

	<p>
	It is hereby agreed to that it is your exclusive remedy, with respect to any defect in or dissatisfaction with the site, any services or products, or any expressly written guarantee of services or products, to cease to use the site or any provided services or products. In agreeing to these terms of use, you expressly understand and agree that we shall not be held liable for any direct, indirect, incidental, special, consequential, or any exemplary damages, including but not limited to damages for lost profits, loss of goodwill, business interruption, data loss, or any other losses or damages resulting from or in any way related to the use of or inability to use the site or any given information. The limitations provided in this section are applicable if any listed or unlisted remedy fails of its essential purpose. The allocation of risk between us (Good Vibes Presents, LLC and The Visitor) is a critical element of the basis of the bargaining between both parties. Our aggregate liability arising out of the terms or use of the site will not exceed the greater of One Hundred U.S. Dollars ($100 U.S.) As for grievances between parties in regards to events, the allocation of risk will, under no circumstances, account for risks or damages that can be seeked reasonably beyond the initial ticket cost undertaken by The Visitor. In such cases, our liability will be limited to the fullest extent deemed reasonably possible. In no event will attorney fees or other court costs be awarded or recoverable. <br /><br />
	</p>


	<h3>Article 10     ADA Accommodations</h3>

	<p>
	If you would like additional information about available ADA accommodations, please e-mail us at info@goodvibespresents.com. We truly value all of our customers and want to do everything we can to create the best show possible, from all perspectives. <br /><br />
	</p>

	<h3>Article 11     Violation of Terms</h3>

	<p>
	We reserve to right to investigate any violation of these Terms, including but not limited to tampering, modifying, or otherwise unauthorized use of the Good Vibes Presents website. We reserve the right to take legal action when we deem necessary, and any legal action that we deem appropriate for the circumstance. In viewing the site and/or using our product, you agree in full to these Terms and hereby denote that any monetary damage claims may not sufficiently provide us a remedy to the violation of terms. Under these circumstances, we reserve the right to seek injunctive, or otherwise punitive measures for your violations of these Terms. If we are informed of your violation of these Terms or local, state, or federal law, for any reason or no reason, we may cancel your account without notice. While the investigation takes place, we reserve the sole right to hinder, inhibit, or otherwise prevent you from accessing the site or its content. If this circumstance was to happen, you would still be bound to these Terms as you agreed to them.You agree that we will not be liable to you or any third party for termination of your access to the website or to your account or any related information, and we will not be required to make the Site or your account or any related information available to you. We may also cancel any Pre-Sale program and/or Pre-Sale code for any reason or no reason. We may refuse to honor a Pre-Sale code made from all accounts we believe may be associated with you, or cancel a ticket purchased through a Pre-Sale code or exercise any other remedy available to us. <br /><br />
	</p>


	<h3>Article 12     Disputes, Claims, and Questions</h3>

	<p>
	In accepting these Terms you hereby agree to be bound by any or all of the terms contained herein. You also willingly accept any amendments, additions, changes, or modifications made after the initial acceptance. If any provision is later found to be invalid, or otherwise unenforceable, then that provision shall be enforced to the maximum extent possible, and the other provisions contained will remain in full fare and effect. Good Vibes Presents, LLC’s failure to insist upon or enforce strict performance of any provision of these Terms shall not be construed as any such waiver of any provision, restriction, or right. These Terms shall be governed primarily by the federal law of the United States of America as well as the laws arising out of the State of Texas. Any controversy, claim, or suit shall be brought only in courts located in Travis County unless otherwise specified and agreed to. The parties hereto specifically consent to the personal jurisdiction of said courts. You hereby waive your right to a jury trial. <br /><br />

	In agreeing to these Terms, you hereby agree that any dispute or claim relating in any way to the use/misuse of our website, products, and services sold or distributed by us will be resolved by binding arbitration rather than in court. The following exceptions apply:

	<ul>
	    <li>You may assert claims in small claims court</li>
	    <li>In the event that the arbitration agreement in these Terms is for any reason held to be unenforceable</li>
	</ul>

	<p>
	The arbitration agreement in these Terms is governed by the Federal Arbitration Act (FAA), including its procedural provisions, in all respects. State arbitration laws do not govern in any respect. This arbitration agreement is intended to be broadly interpreted, and will survive termination of these Terms.<br /><br />

	Please contact Good Vibes Presents at info@goodvibespresents.com with any questions, comments, or complaints regarding these Terms of Use or the Privacy Policy.
	</p>
</div>